html,
body {
    height: 90%;
    background-image: url("../../resources/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    background-attachment: fixed;

}

@font-face {
    font-family: raleway;
    src: url("./../../fonts/raleway/static/Raleway-Regular.ttf");
}

html {
    height: 90%;
  }
  body {
    min-height: 90%;
    background-color: #fbfbfd;
    font-family: raleway;
  }


@font-face {
    font-family: "Indie Flower";
    src: url('../../fonts/IndieFlower.ttf');
}

.app-th > tr > th {
    font-family: "Indie Flower";
    font-size: large;
    font-weight: lighter;
}


.app-container {
    /* margin: 3vh; */
    border: solid;
    border-color: #dee2e6;
    background: #ffffff;
    border-width: 1px;
    border-radius: 5px;
    padding: 3vh;
    height: auto;
    position: absolute;
    top: 10vh;
    right: 10vh;
    bottom: 10vh;
    left: 10vh;
    opacity: 96%;
    max-height: fit-content;
    min-height: 80vh;
}

.home-container {
    border: solid;
    border-color: #dee2e6;
    background: #ffffff;
    border-width: 1px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    height: auto;
    position: absolute;
    top: 30vh;
    right: 20vw;
    bottom: 30vh;
    left: 20vw;
    opacity: 96%;
}

.login-container {
    border: solid;
    border-color: #dee2e6;
    background: #ffffff;
    border-width: 1px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    height: auto;
    position: absolute;
    top: 20vh;
    right: 25vw;
    bottom: 17vh;
    left: 25vw;
    /*opacity: 96%;*/
}

.ui-datepicker-year{
    display:none;
}

.rest-choice {
    position: absolute;
    left: 45vw;
    display: inline-flex;
}

.fnt_aw-btn {
    border: none !important;
    background: transparent !important;
}

.user-pic {
    width: 2vw;
    height: auto;
}

.map-pic {
    width: 30vw;
}

.user-pic:hover {
    cursor: pointer;
}

#formLogin {
    text-align: center;
    position: absolute;
    top: 3vh;
    margin: 6%;
}

.admin_icon {
    margin: auto !important;
}

#shootMarges{
    margin: 0;
    padding: 0;
}

.iconMenu {
    width: 100%;
    font-size: 13vh;
    color: #777777;
}

.center {
    text-align: center;
}

.delete-btn {
    color: crimson;
}

.success-btn {
    color: green;
}

.inline {
    display: inline !important;
}

.rest-form-container {
    width: fit-content !important;
    text-align: center;
}

.rest-form-container h1 {
    text-align: center !important;
}

.content-center {
    display: grid !important;
    justify-items: center !important;
}
#toast-container{
    position:sticky;
    z-index:1055;
    top:0
}
#toast-wrapper{
    position:absolute;
    top:0;
    right:0;
    margin:5px
}
#toast-container>#toast-wrapper>.toast{
    min-width:150px
}
#toast-container>#toast-wrapper>.toast>.toast-header strong{
    padding-right:20px
}


.absent {
    font-style: italic;
}

.td-btn {
    width: 100% !important;
    height: 100% !important;
}

.agenda-table-6weeks td {
    height: 16.66%;
}

.agenda-weekday {
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
}

.agenda-day {
    font-size: 1.3em;
}

.agenda-othermonth .agenda-day {
    opacity: 0.3;
}

.current-day {
    color: red;
}

.table-box {
    max-height: 19vh;
    overflow-y: scroll;
    /* hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/*.team-box {*/
/*    max-height: 45vh !important;*/
/*    overflow-y: scroll;*/
/*    !* hide scrollbar *!*/
/*    -ms-overflow-style: none;  !* IE and Edge *!*/
/*    scrollbar-width: none;  !* Firefox *!*/
/*}*/

/* hide scrollbar */
.table-box::-webkit-scrollbar {
    display: none;
  }

.calendar-container {
    margin-left: 5%;
    margin-right: 5%;
    /*margin-top: 1%;*/
}

#nav-checks {
    position: absolute !important;
    left: 10vh !important;
    bottom: 15vh !important;
    padding: 0;
}

#nav-checks>ul>li {
    height: 10vh !important;
    background-color: white;
}

.nav-btn {
    height: inherit;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    color:darkgrey !important;
}

.home-btn {
    position: absolute;
    bottom: 3vh;
    left: 40vw !important;
}

.cprght {
    padding-top: 20% !important;
    font-style: italic;
    font-size: small;
}

.btn-active {
    color: black !important;
}

.signout-btn {
    position: absolute;
    bottom: 3vh;
    right: 1.5vw;
    color: #8e7a67;
}

.signout-btn:hover {
    color: black;
}

.btnHover:hover{
    /*box-shadow: 0px 0px 20px #000000;*/
    z-index: 2;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 300ms ease-in;
    transform: scale(1.1);
}

.btn-delete {
    color: #bd2130;
}

.btn-edit {
    color: #1b733b;
    cursor: pointer;
}

.btn-default:hover {
    cursor: pointer;
    color: black;
}

.app_table {
    max-width: 70vw;
    width: 70vw;
    margin-top: 5vh;
    text-align: center;
    align-content: center;
    border: black;
}

.app_overflow {

}

.app_text-input {
    max-width: fit-content;
    margin: auto;
}

.next-btn {
    position: absolute;
    bottom: 15vh !important;
    left: 48vw !important;
}

.icon-img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 8vw;
    height: auto;
}

.comment-btn {
    position: absolute;
    bottom: 3vh;
    right: 5vw !important;
}

.app_form {
    max-width: 70vw;
}

.form-control-sm {
    border: 1px solid #ced4da;
}

.comment-title {
    font-size: large;
    text-align: center !important;
    font-style: italic !important;
}

.permissions-area {
    color: #4e555b !important;
    border-radius: 10px;
    height: 20vh;
    width: 20vw;
}


.app_link:hover {
     text-decoration: none;
}

.comment-content {
    text-align: justify !important;
    width: 45vw !important;
}

#form-container {
    margin-top: 5% !important;
    max-height: 45vh;
    overflow-y: scroll;
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}

.meal-date {
    text-align: center !important;
    font-style: italic;
}

.inventory-btn {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    width: 10vw !important;
}

.nav-inventory {
    margin: 0;
}

.equipment-list {
    position: absolute;
    left: 5vw;
    top: 20vh;
    max-height: 60vh;
    overflow-y: scroll;
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}

.space-list {
    position: absolute;
    right: 5vw;
    top: 20vh;
    max-height: 60vh;
    overflow-y: scroll;
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}

.left {
    position: absolute;
    left: 5vw;
    top: 20vh;
}

.right {
    position: absolute;
    right: 5vw;
    top: 20vh;
}

.sat-icon {
    width:64px;
    padding-right:15px;
}

.sat-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.sat-radio-0:checked + img {
    filter: invert(10%) sepia(94%) saturate(5414%) hue-rotate(358deg) brightness(87%) contrast(96%);
}

.sat-radio-33:checked + img {
    filter: invert(93%) sepia(16%) saturate(5814%) hue-rotate(1deg) brightness(103%) contrast(111%);
}

.sat-radio-67:checked + img {
    filter: invert(71%) sepia(34%) saturate(880%) hue-rotate(19deg) brightness(98%) contrast(100%);
}

.sat-radio-100:checked + img {
    filter: invert(61%) sepia(70%) saturate(1422%) hue-rotate(66deg) brightness(111%) contrast(120%);
}

#comments-list {
    /*position: absolute;*/
    max-height: 30vh;
    overflow-y: scroll;
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}

.summary {
    font-style: italic;
    /* text-align: right; */
    position: absolute;
    right: 1vw;
    font-size: 1.3em;
}

.meal-choice {
    font-style: italic;
    text-align: center;
    font-size: 1.3em;
}

.leftArrow {
    font-size: 2rem;
    /*margin: 1rem 0 0 1rem;*/
    color: #8e7a67;
}

.nav-meal-txt {
    text-align: left;
    font-size: 1.1em;
    padding: 5%;
}

.btn-outline-success {
    background-color: white;
}

.btn-outline-danger {
    background-color: white;
}

.pad-inline {
    padding-inline: 10%;
    width: 10vw;
}


.clickable-txt {
    color: rgb(0,123,255);
}

.clickable-txt:hover {
    cursor: pointer;
}

.indicators_title {
    display: inline-flex;
}